body {
    padding: 0px;
    border: 0;
    margin: 0;
    background-color: rgb(99, 99, 48);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.hid1 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 10vh;
    width: 100vw;
    background-color: rgb(99, 99, 48);
    z-index: 50;
}

.hid2 {
    position: absolute;
    top: 0px;
    left: 90vw;
    height: 100vh;
    width: 10vw;
    background-color: rgb(99, 99, 48);
    z-index: 50;
}

.hid3 {
    position: absolute;
    top: 90vh;
    left: 0px;
    height: 10vh;
    width: 100vw;
    background-color: rgb(99, 99, 48);
    z-index: 50;
}

.hid4 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 10vw;
    background-color: rgb(99, 99, 48);
    z-index: 50;
}


.container1,
.container2,
.container3 {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container1{
    z-index: 30;
}

.div1 {

    background-image: url(1.jpg);
}

.div2 {
    background-image: url(2.jpg);
}

.div3 {
    background-image: url(3.jpg);
}

.div1,
.div2,
.div3 {
    position: absolute;
    top: -10vh;
    left: -10vw;
    height: 120vh;
    width: 120vw;
    background-size: cover;
}

.in11 {

    background-image: url(1.jpg);
}

.in21 {

    background-image: url(2.jpg);
}


.in31 {

    background-image: url(3.jpg);
}


.in11,
.in21,
.in31 {
    position: absolute;
    top: 5vh;
    left: calc(50vw - 45vh);
    height: 90vh;
    width: 90vh;
    border-radius: 50%;
    background-position: calc(45vh - 60vw) -15vh;
    background-size: 120vw auto;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

.back {
    position: absolute;
    top: 5vh;
    left: calc(50vw - 45vh);
    height: 90vh;
    width: 90vh;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.212);
}

.in111 {
    background-image: url(1.jpg);
}

.in211 {
    background-image: url(2.jpg);
}

.in311 {
    background-image: url(3.jpg);
}

.in111,
.in211,
.in311 {
    position: absolute;
    top: calc(50vh - 20vh);
    left: calc(50vw - 20vh);
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    background-position: calc(20vh - 60vw) -40vh;
    background-size: 120vw auto;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

.in12{
    z-index: 100;
}

.in22, .in32 {
    z-index: 1;
}

.in12, .in22, .in32 {
    position: absolute;
    top: calc(90vh - 36px);
    left: calc(90vw - 36px);
    float: right;
    background-color: rgba(0, 0, 0, 0.774);
    padding: 6px;
    cursor: pointer;
}
